.FishingSpot_CoverImage {
  width: 100%;
  height: 280px;

  position: relative;
}

.FishingSpot_Image {
  width: 100%;
  height: 100%;

  position: relative;
}

.FishingSpot_StoryButton {
  bottom: 6px;
  right: 6px;
  padding: 10px;

  font-size: 3mm;
  position: absolute;
  border-radius: 0.3em;
  z-index: 2;

  color: white;
  background-color: var(--primary-blue);
  /* make text not selecteable */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.FishingSpot_TextField {
  width: 93%;

  border-radius: 0.5em;
  font-size: 3mm;

  margin: auto;
  margin-top: 7px;
  padding: 5px;
  box-sizing: border-box;

  height: 155px;
  max-height: inherit;
  overflow-x: hidden;
  overflow-y: auto;

  background-color: var(--outline-grey);
}

.Darken_BG {
  background-color: rgba(0, 0, 0, 0.37);
  width: 100%;
  height: 100%;
  position: absolute;
}

.FishingSpot_FishContainer {
  margin-left: 10px;
  margin-right: 10px;
  max-height: 60px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 9px;
  height: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(218, 218, 218);
  border: grey 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(163, 163, 163);
  border-radius: 10px;
  border: grey 2px;
}
