.FishType {
  padding: 8px 5px 8px 5px;
  margin: 6px 0px 0px 6px;
  display: inline-block;

  font-size: 3mm;
  position: relative;
  border-radius: 0.3em;
  z-index: 2;

  border: 2px solid var(--primary-blue);

  color: var(--primary-blue);
  background-color: white;
}
