.Module {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  width: 90%;
  max-width: 380px;
  height: 500px;
  top: 10%;

  border-radius: 0.5em;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: auto;

  background-color: white;
}

.Darken_BG {
  background-color: rgba(0, 0, 0, 0.37);
  width: 100%;
  height: 100%;
  position: absolute;
}

.FishingSpot_CloseButton {
  top: 6px;
  right: 6px;
  padding: 10px;

  font-size: 3mm;
  position: absolute;
  border-radius: 0.3em;
  z-index: 2;

  color: white;
  background-color: rgb(214, 61, 61);

  transition-property: transform, box-shadow;
  transition-duration: 0.2s;
  cursor: pointer;

  /* make text not selecteable */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.FishingSpot_CloseButton:active {
  transform: scale(0.96);
}
