.DropDown {
  width: 60%;

  top: 6px;
  left: 6px;
  padding: 10px;

  font-size: 3mm;
  position: relative;
  border-radius: 0.3em;
  z-index: 2;

  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

  border: 0;
}

option {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.TextField {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 3mm;
  width: 93%;
  height: 100px;

  border-radius: 0.5em;
  font-size: 3mm;
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  border: 2px solid #d1d1d1;
  resize: none;
}

.AddPhoto {
  width: 93%;
  height: 140px;

  border-radius: 0.5em;
  font-size: 3mm;
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  border: 2px solid #d1d1d1;
}

.AddPhotoImage {
  width: 30%;
  height: 55%;

  display: block;
  margin: auto;
  margin-top: 35px;
}

.LocationButton {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 4mm;
  text-align: left;
  width: 97%;
  height: 40px;
  border-radius: 0.5em;
  margin: auto;
  color: white;
  background-color: rgba(88, 101, 216, 1);
  border: 0;
}

.AcceptButton {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 4mm;
  width: 70%;
  height: 50px;
  border-radius: 0.5em;
  margin: auto;
  display: block;
  color: white;
  background-color: rgba(88, 216, 139, 1);
  border: 0;
}

.ButtonIcon {
  float: right;
  font-size: 5mm;
  margin-bottom: 3px;
  margin-right: 2px;
  position: relative;
}

.ButtonText {
  float: left;
  margin-top: 5px;
}

.LabelText {
  margin-left: 5px;
  font-size: 4mm;
  color: #9b9b9b;
}

.ButtonContainer {
  display: grid;
  grid-template-columns: 50% 50%;

  margin: 10px;
}

.SpinnerContainer {
  display: grid;
  grid-template-columns: 40% 40%;
  column-gap: 20%;

  margin: 10px;
  margin-top: 20px;
}

.Spinner {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  border-radius: 0.5em;
  width: 70px;

  margin: auto;
  padding: 5px;
  border: 2px solid #d1d1d1;
}

.AnimatedButton {
  transition-property: transform, box-shadow;
  transition-duration: 0.2s;
  cursor: pointer;
}

.AnimatedButton:active {
  transform: scale(0.96);
}

.NonSelectable {
  /* make text not selecteable */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.AutoMargin {
  margin: auto;
}
