.Container {
  background-color: black;
  height: 100%;
  width: 100%;
  /* background-image: url("https://pbs.twimg.com/media/CoFG26CUsAAeluU.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
}

.TopBar {
  /* position: fixed;
  z-index: 999; */
}

.BottomBar {
}

.CoverImage {
  /* height: 100%; */
  width: 100%;
}
