.TopBarContainer {
  position: absolute;
  padding-top: 15px;
  padding-left: 10px;
  font-size: large;
}

.Location {
  background-color: white;
  color: blue;
  border-radius: 25px;
  display: inline;
  padding: 0.3vh 1vh;
}

.LocationIcon {
  height: 15px;
}

.DropShadow {
  filter: drop-shadow(10px 10px 4px #0000007e);
}
