.Content {
  width: 45%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 10px;
  margin-top: 10px;
}

.AddButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 5vh;
  width: 20vh;
}

.AddButton:active {
  background-color: #378039;
}

.MapCont {
  position: absolute;
  top: 0;
  right: 0;
  width: 50% !important;
  height: 100% !important;
}
