.Content {
  width: 45%;
  height: 100vh;
  /* background-color: rgb(249, 255, 253); */
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 5vh 10vh 15vh; */
  margin-left: 10px;
  margin-top: 10px;
}

.grimKnap {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 5vh;
  width: 20vh;
}

.grimKnap:active {
  background-color: #378039;
}

.MapCont {
  position: absolute;
  top: 0;
  right: 0;
  width: 50% !important;
  height: 100% !important;
}
