.leaflet-popup-content {
  width: auto !important;
  min-width: 250px;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: black;
}

.MuiCardContent-root {
  padding: 0px !important;
}
