.FilterContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5.3em;

  margin: auto;
  height: 370px;
  min-height: 70px;
  margin-bottom: 10px;
  margin-top: 10px;
  max-height: inherit;
  overflow-x: hidden;
  overflow-y: auto;
}

.FilterButton {
  width: 90%;
  height: 70px;
  margin: auto;
  margin-top: 10px;
  border-radius: 0.3em;
  border: 2px solid #d1d1d1;
  cursor: pointer;

  /* make text not selecteable */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  transition: 0.2s;
}

.FilterButton text {
  position: relative;
  display: block;
  text-align: center;
  top: 50px;
}

.Fish {
  width: 100%;
  height: 72%;
  margin-top: -18px;
  border-radius: 0.2em;
}

.Spot {
  width: 100%;
  height: 100% !important;
  margin-top: -18px;
  border-radius: 0.2em;
}

.Pressed {
  background-color: rgba(88, 101, 216, 1);
  border: 2px solid rgba(88, 101, 216, 1);
  color: white;
}

.Headline {
  height: 40px;
}

.Headline h4 {
  margin: 0;
  top: 40%;
  position: relative;
  margin-left: 10px;
  color: rgba(88, 101, 216, 1);
}

.Clear_Filter_Button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 4mm;
  width: 37%;
  height: 50px;
  border-radius: 0.5em;
  margin: auto;
  display: block;
  border: 0;
  background-color: #d1d1d1;
  color: white;
  float: right;
  margin-right: 10px;
}

.AcceptButton {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 4mm;
  width: 55%;
  height: 50px;
  border-radius: 0.5em;
  margin: auto;
  display: block;
  color: white;
  background-color: rgba(88, 216, 139, 1);
  border: 0;
  float: left;
  margin-left: 10px;
}

.AnimatedButton {
  transition-property: transform, box-shadow;
  transition-duration: 0.2s;
  cursor: pointer;
}

.AnimatedButton:active {
  transform: scale(0.96);
}

.NonSelectable {
  /* make text not selecteable */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.Vælgfiskesteder {
  grid-template-columns: 100%;
  grid-template-rows: 5.7em;
}
